@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

:root {
    --borderColor: #d6d6d6
}
body {
    margin: 0;
}
* {
    box-sizing: border-box;
}

.gridList {
    --justifyContent: center;
    --itemWidth: 300px;
    --gap: 26px;
    display: grid;
    justify-content: var(--justifyContent, flex-start);
    grid-template-columns: repeat(auto-fill, var(--itemWidth, 50px));
    column-gap: var(--gap, 26px);
}

.gridList .gridItem {
    margin-bottom: var(--gap);
}
